PORT=3000
HOST=localhost

# MongoDB Atlas URI (Use the Driver 4.x+ SRV format)
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/?retryWrites=true&w=majority&appName=<yourAppName>
MONGODB_DB_NAME=mean_app_db
